<!DOCTYPE html>
<html>
<head>
    <title>Mails BAK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
</head>

<body class="bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff; margin:0 auto; top: 25px; padding: 20px; border-radius: 12px;">
            {{{body}}}
        </div>
    </div>
</body>
</html>